body {
  background: #F5FFCC;
  background: -moz-linear-gradient(45deg, #F5FFCC 0%, #F0FEFF 52%, #F9E6FA 100%);
  background: -webkit-linear-gradient(45deg, #F5FFCC 0%, #F0FEFF 52%, #F9E6FA 100%);
  background: linear-gradient(45deg, #F5FFCC 0%, #F0FEFF 52%, #F9E6FA 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: url("http://www.rw-designer.com/cursor-view/123873.png"), auto;
}

h1 {
  font-family: "Rubik Bubbles", cursive;
  font-size: 50px;
  color: OliveDrab;
  letter-spacing: 5px;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

h2 {
  font-family: "Rubik Bubbles", cursive;
  font-size: 30px;
  color: DarkOliveGreen;

}

p {
  color: DarkOliveGreen;
  font-family: 'Berkshire Swash', cursive;
  font-size: 25px;
  font-weight: lighter;
}

a {
  color: OliveDrab;
  font-weight: bolder;
  text-decoration: none;
}

button{
  background-color: OliveDrab;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,button:focus {
  background-color: LightPink;
}

button:active {
  background-color: MistyRose;
  color: black;
  box-shadow: none;
}
