body {
  background: #F5FFCC;
  background: -moz-linear-gradient(45deg, #F5FFCC 0%, #F0FEFF 52%, #F9E6FA 100%);
  background: -webkit-linear-gradient(45deg, #F5FFCC 0%, #F0FEFF 52%, #F9E6FA 100%);
  background: linear-gradient(45deg, #F5FFCC 0%, #F0FEFF 52%, #F9E6FA 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  font-family: 'Rubik Bubbles', cursive;
  font-size: 40px;
}

h2 {
  font-family: 'Rubik Bubbles', cursive;
}

p {

}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  color: AliceBlue;
  font-weight: 70;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: blue;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: AliceBlue;
  border-radius: inherit;
  box-shadow: 0 0 0 2px blue, 0 0.75em 0 0 Orange;
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}
